<div class="page-header">
  <h1><%= @book.title %></h1>
</div>

<dl class="dl-horizontal">

  <dt>Title</dt>
  <dd><%= @book.title %></dd>


  <dt>Author</dt>
  <dd><%= @book.author.fullName %></dd>


  <dt>Year</dt>
  <dd><%= @book.year %></dd>


  <dt>Category</dt>
  <dd><%= @book.category.category %></dd>


  <dt>Picture</dt>
  <dd><img src="<%= @book.picture %>" alt="<%= @book.title %>" style="120:px;height:180px"></dd>

  <dt>Current Reviews</dt>
  <dd>
    <% @book.reviews.each do |review| %>
      <%= review.overallRating %>/5<a href="/reviews/<%= review.id %>"> <%= review.summary %></a> by <%= review.user.username %>
    </br> 
    <% end %>
    
    <p><a href="/review/new" class="btn btn-primary">Add a New Review</a></p>
  </dd>

  <dt>Similar Books</dt>
  <dd>
    <% @book.category.books.each do |book| %>
      <% if @book.id != book.id %>
      <a href="/book/<%= book.id %>"> <%= book.title %></a>
      </br>
      <% end %>
    <% end %>

  </dd>


</dl>
