<div class="page-header">
  <h1><%= @review.summary %></h1>
</div>

<dl class="dl-horizontal">

  <dt>Book</dt>
  <dd><%= @review.book.title %> by <%= @review.book.author.fullName %></dd>


  <dt>User</dt>
  <dd><%= @review.user.username %></dd>


<!--   <dt>Summary</dt>
  <dd><%= @review.summary %></dd> -->


  <dt>Full Review</dt>
  <dd><%= @review.fullReview %></dd>


  <dt>Start Date</dt>
  <dd><%= @review.startDate %></dd>


  <dt>End Date</dt>
  <dd><%= @review.endDate %></dd>


  <dt>Enlightenment Rating</dt>
  <dd><%= @review.enlightenmentRating %>/5</dd>


  <dt>Enjoyment Rating</dt>
  <dd><%= @review.enjoymentRating %>/5</dd>


  <dt>Overall Rating</dt>
  <dd><%= @review.overallRating %>/5</dd>

  <dt>Other Related Reviews</dt>
  <dd>
    <% @review.book.reviews.each do |review| %>
      <% if @review.id != review.id %>
      Review by <%= review.user.username %>: <%= review.overallRating %>/5<a href="/reviews/<%= review.id %>"> <%= review.summary %></a>
      </br>
      <% end %>
    <% end %>
    
    <p><a href="/review/new" class="btn btn-primary">Add a New Review</a></p>
  </dd>


</dl>
